{% extends 'layout.twig' %}

{% import 'macros.twig' as macros %}

{% block title %}
    User list
{% endblock %}

{% block body %}
    <div id="app">
        <app :users="{{ users }}" users-title="Title for test"></app>
    </div>
{% endblock %}